<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thiagohenry.tcc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DAO.ConfigRealm"
        android:allowBackup="true"
        android:icon="@drawable/logo_angus_blue"
        android:label="Bienvenido al Angus Mobile"
        android:roundIcon="@drawable/logo_angus_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Angus"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:label="Menú Principal"></activity>
        <!-- Venda -->
        <activity
            android:name=".RequestCreateActivity"
            android:label="Nueva Ordem"
            android:noHistory="true"
            ></activity>
        <activity
            android:name=".RequestActivityList"
            android:label="Venta"></activity>
        <!-- Produtos -->
        <activity
            android:name=".ProductActivityList"
            android:label="Productos"></activity>
        <!-- Clientes -->
        <activity
            android:name=".CustomerActivityList"
            android:label="Clientes"></activity>
        <activity
            android:name=".CustomerEditActivity"
            android:label="@string/title_activity_customer_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>