<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thiagohenry.tcc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DAO.ConfigRealm"
        android:allowBackup="true"
        android:icon="@drawable/logo_angus2"
        android:label="Bienvenido al Angus Mobile"
        android:roundIcon="@drawable/logo_angus2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Angus"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:label="Menú Principal"></activity>
        <!-- Request -->
        <activity
            android:name=".RequestCreateActivity"
            android:label="Nueva Ordem"
            android:noHistory="true"
            ></activity>
        <activity
            android:name=".RequestActivityList"
            android:label="Venta"></activity>
        <!-- Products -->
        <activity
            android:name=".ProductActivityList"
            android:label="Productos"></activity>
        <!-- Customer -->
        <activity
            android:name=".CustomerActivityList"
            android:label="Clientes"></activity>
        <!-- Customer Details -->
        <activity
            android:name=".CustomerActivityDetails"
            android:label="Clientes"></activity>
        <activity
            android:name=".ProductActivityDetails"
            android:label="Productos"></activity>
    </application>

</manifest>